<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Chat</title>
    <style>
        li {
            list-style: none;
        }

        .body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            background-color: #2B2D31;
        }

        .btn {
            height: 50px;
            width: 100px;
        }
        .ulka {
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="body">
    <div>
        <h1>WebSocket Chat</h1>
        <h2>Chat ID: <span id="ws-id"></span></h2>

        <form onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button class="btn">Send</button>
        </form>
        <form onsubmit="connect(event)">
            <button class="btn">connect</button>
        </form>
    <ul id="ul" class="ulka">

    </ul>
    </div>
</div>
<script href="index.js">
</script>
</body>
</html>